@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(48, 48, 48) 40%, rgb(29, 29, 29) 70%, rgb(0, 0, 0) 100%);
}

p {
  font-size: 1.1rem;
}

span {
  color: rgb(15, 87, 170);
}

header .navbar-toggler {
  background-color: white;
}
header .navbar-nav {
  flex-grow: 1;
  justify-content: space-evenly;
}
header .navbar-nav .nav-item {
  border: 2px solid;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 5px;
  padding: 5px;
}
header .navbar-nav .nav-item .nav-link.active {
  color: white;
}
header .navbar-nav .nav-item .nav-link {
  color: white;
}
header .navbar-nav .nav-item a:hover {
  color: black !important;
  transition: 0.4s ease-in;
  background: white;
  box-shadow: 0 0 5px white, 0 0 25px white;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
footer p {
  color: white;
}

main {
  background-image: linear-gradient(to top, #6287d1 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  padding: 10px;
  overflow: hidden;
}
main .titulo {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
main .titulo2, main .subtitulo {
  color: black;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
main .subtitulo {
  padding: 10px;
  margin-top: 50px;
}
main .tamanioFuente {
  background-image: url("../Assets/Imagenes/Book1Txt4_.jpg");
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  border: 4px solid;
}
main .tamanioFuente p {
  font-size: 1.1rem;
}
main .image {
  width: 100%;
  height: 100%;
}
main .trailer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  main .titulo {
    font-size: 2rem;
  }
  main .titulo2, main .subtitulo {
    font-size: 1.3rem;
    padding: 10px;
    margin: 20px;
  }
  main .tamanioFuente {
    background: #e2bd8d;
  }
}
.tabla {
  background: #e2bd8d;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  border: 4px solid;
}
.tabla table {
  text-align: center;
  border: 2px solid;
  caption-side: top;
  color: black;
  border-collapse: separate;
}
.tabla table caption {
  margin: 10px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
.tabla table .tituloTabla {
  font-size: 1.1rem;
}
.tabla table .columnaUno, .tabla table .columnaTres, .tabla table .columnaDos {
  border: 2px solid;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.tabla table .columnaDos {
  padding-top: 10px;
}
@media (max-width: 767.98px) {
  main .titulo {
    font-size: 2rem;
  }
  main .tabla {
    margin: 0;
  }
}
.subtitulo2 {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 20px;
}

.parrafoPrimero1 {
  margin: 60px;
  margin-top: 20px;
  border: 5px solid;
}
.parrafoPrimero1 .tamanioFuente1 {
  background: #e2bd8d;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  padding: 20px;
}

@media (max-width: 767.98px) {
  main .titulo {
    font-size: 2rem;
  }
  main .parrafoPrimero1 {
    margin: 0;
  }
}
.tituloSecretos {
  color: black;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
}

.secretos {
  text-align: justify;
  margin: 40px;
}
.secretos .listaSecretos {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: #e2bd8d;
  border: 4px solid;
}
.secretos .listaSecretos p {
  padding: 5px;
  border: 3px solid;
}

@media (max-width: 767.98px) {
  main .titulo {
    font-size: 2rem;
  }
  main .secretos {
    margin: 10px;
  }
}
.textoContacto {
  background: #FDBD85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  border: 4px solid;
  margin-left: 320px;
  margin-right: 320px;
}

.formulario {
  text-align: center;
  align-items: center;
}
.formulario label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.formulario .casillero {
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 5px solid;
  padding: 5px;
  margin: 10px;
  width: 50%;
}

@media (max-width: 767.98px) {
  main .titulo {
    font-size: 2rem;
  }
  main .textoContacto {
    margin: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
