@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(48, 48, 48) 40%, rgb(29, 29, 29) 70%, rgb(0, 0, 0) 100%);
}

p {
  font-size: 1.1rem;
}

header .navbar-toggler {
  background-color: white;
}
header .navbar-nav {
  flex-grow: 1;
  justify-content: space-evenly;
}
header .navbar-nav .nav-item {
  border: 2px solid;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 5px;
}
header .navbar-nav .nav-item .nav-link.active {
  color: white;
}
header .navbar-nav .nav-item .nav-link {
  color: white;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
footer p {
  color: white;
}

main {
  background-image: linear-gradient(to top, #6287d1 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  padding: 10px;
}
main .titulo {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}
main .titulo2 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
main .subtitulo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-top: 50px;
}
main .tamanioFuente {
  background-image: url("../Assets/Imagenes/Book1Txt4_.jpg");
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  border: 4px solid;
}
main .image {
  width: 100%;
  height: 100%;
}
main .trailer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.tabla {
  background: #FDBD85;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-family: "Roboto", sans-serif;
  border: 4px solid;
}
.tabla table {
  text-align: center;
  border: 2px solid;
  caption-side: top;
  color: black;
  border-collapse: separate;
}
.tabla table caption {
  margin: 10px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
.tabla table .tituloTabla {
  font-size: 1.1rem;
}
.tabla table .columnaUno {
  border: 2px solid;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.tabla table .columnaDos {
  border: 2px solid;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 10px;
}
.tabla table .columnaTres {
  border: 2px solid;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.subtitulo2 {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 20px;
}

.parrafoPrimero1 {
  margin: 60px;
  margin-top: 20px;
  border: 5px solid;
}
.parrafoPrimero1 .tamanioFuente1 {
  background: #FDBD85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  padding: 20px;
}

.tituloSecretos {
  color: black;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 10px;
  margin: 20px;
}

.secretos {
  text-align: justify;
  margin: 40px;
}
.secretos .listaSecretos {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: #FDBD85;
  border: 4px solid;
}
.secretos .listaSecretos p {
  padding: 5px;
  border: 3px solid;
}

.textoContacto {
  background: #FDBD85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: justify;
  border: 4px solid;
  margin-left: 100px;
  margin-right: 100px;
}

.formulario {
  text-align: center;
  align-items: center;
}
.formulario label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.formulario .casillero {
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: 5px solid;
  padding: 5px;
  margin: 10px;
  width: 50%;
}

a:hover {
  color: #6287d1 !important;
}

@media (max-width: 767.98px) {
  main .titulo {
    border: 2px solid;
    font-size: 2rem;
    background-image: url(../Assets/Imagenes/Fondo\ Hoja.avif);
  }
  main .titulo2 {
    font-size: 1.3rem;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    background-image: url(https://img.freepik.com/fotos-premium/textura-papel-libro-antiguo-hoja-amarilla-fondo-natural_160152-4536.jpg?w=2000);
  }
  main .parrafoPrimero1 {
    margin: 0;
  }
  main .tabla {
    margin: 0;
  }
  main .secretos {
    margin: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
