header{
    .navbar-toggler{
    background-color: $color-blanco;
    }
    .navbar-nav{
        flex-grow: 1;
        justify-content: space-evenly;
        .nav-item{
            border: 2px solid;
            color: $color-blanco;
            font-family: $fuente-principal;
            margin: 5px;
            padding: 5px;
            text-align: center;
            .nav-link.active{
                color: $color-blanco;
            }
            .nav-link{
                color: $color-blanco;
            }
            a:hover{
                color: $color-negro !important;
                transition: .4s ease-in;
                background: $color-blanco;
                box-shadow: 0 0 5px $color-blanco, 0 0 25px $color-blanco;
            }
        }        
    }
}