.textoContacto{
    background: #e2bd8d;
    font-family: $fuente-principal;
    font-weight: bold;
    text-align: justify;
    border: map-get($bordes, borde-solid-cuatro);
    margin-right: 25%;
    margin-left: 25%;
}
.formulario{
    text-align: center;
    align-items: center;
    label{
        font-family: $fuente-principal;
        font-weight: bold;
        
    }
    .casillero{
        text-align: center;
        font-family: $fuente-principal;
        border: map-get($bordes, borde-solid-cinco);
        padding: 5px;
        margin: 10px;
        width: 50%;
    }
}
@media (max-width: 767.98px){
    main{
        .titulo{
            font-size: 2rem;
        }
        .textoContacto{
            margin: 10px;
        }
        .formulario .casillero{
            width: 80%;
        }
    }
}