.tituloSecretos{
    color: $color-negro;
    font-size: 1.7rem;
    font-family: $fuente-principal;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
}
.secretos{
    text-align: justify;
    margin: 40px;
    .listaSecretos{
        font-family: $fuente-principal;
        font-weight: bold;
        background: #FDBD85;
        border: map-get($bordes, borde-solid-cuatro);
        p{
            padding: 5px;
            border: map-get($bordes, borde-solid-tres);
        }
    }
}