.textoContacto{
    background: #FDBD85;
    font-family: $fuente-principal;
    font-weight: bold;
    text-align: justify;
    border: map-get($bordes, borde-solid-cuatro);
    margin-left: 100px;
    margin-right: 100px;
}
.formulario{
    text-align: center;
    align-items: center;
    label{
        font-family: $fuente-principal;
        font-weight: bold;
        
    }
    .casillero{
        text-align: center;
        font-family: $fuente-principal;
        border: map-get($bordes, borde-solid-cinco);
        padding: 5px;
        margin: 10px;
        width: 50%;
    }
}