main{
    background-image: linear-gradient(to top, #6287d1 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    padding: 10px;
    .titulo{
        color: $color-negro;
        font-size: 2.5rem;
        font-weight: 600;
        font-family: $fuente-titulo;
    }
    .titulo2{
        color: $color-negro;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        font-family: $fuente-principal;
    }
    .subtitulo{
        color: $color-negro;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        font-family: $fuente-principal;
        padding: 10px;
        margin-top: 50px;
    }
    .tamanioFuente{
        background-image: url("../Assets/Imagenes/Book1Txt4_.jpg");
        font-family: $fuente-principal;
        font-weight: bold;
        text-align: justify;
        border: 4px solid;
    }
    .image{
        width: 100%;
        height: 100%;  
    }
    .trailer{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}