.tituloSecretos{
    color: $color-negro;
    font-size: 1.7rem;
    font-family: $fuente-principal;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
}
.secretos{
    text-align: justify;
    margin: 40px;
    .listaSecretos{
        font-family: $fuente-principal;
        font-weight: bold;
        background: #e2bd8d;
        border: map-get($bordes, borde-solid-cuatro);
        p{
            padding: 5px;
            border: map-get($bordes, borde-solid-tres);
        }
    }
}

@media (max-width: 767.98px){
    main{
        .titulo{
            font-size: 2rem;
        }
        .secretos{
            margin: 10px;
        }
    }
}