.subtitulo2{
    color: $color-negro;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $fuente-titulo;
    padding: 10px;
    margin: 20px;
}
.parrafoPrimero1{
    margin: 60px;
    margin-top: 20px;
    border: map-get($bordes, borde-solid-cinco);
    .tamanioFuente1{
        background: #e2bd8d;
        font-family: $fuente-principal;
        font-weight: bold;
        text-align: justify;
        padding: 20px;
    }
}
@media (max-width: 767.98px){
    main{
        .titulo{
            font-size: 3rem;
        }
        .parrafoPrimero1{
            margin: 0;
        }
    }
}
