$fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente-secundaria: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
$color-negro: black;
$color-blanco: white;