@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import "variables.scss";
@import "mapas.scss";
@import "mixins.scss";
@import "reset.scss";
@import "header.scss";
@import "footer.scss";
@import "main-index.scss";
@import "main-armasLegendarias.scss";
@import "main-lugares.scss";
@import "main-secretos.scss";
@import "main-contacto.scss";

a:hover{
    color: #6287d1 !important;
}

@media (max-width: 767.98px){
    main{
        .titulo{
            border: 2px solid;
            font-size: 2rem;
            background-image: url(../Assets/Imagenes/Fondo\ Hoja.avif);
        }
        .titulo2{
            font-size: 1.3rem;
            border: 2px solid;
            padding: 10px;
            margin: 20px;
            background-image: url(https://img.freepik.com/fotos-premium/textura-papel-libro-antiguo-hoja-amarilla-fondo-natural_160152-4536.jpg?w=2000);
        }
    }
    main{
        .parrafoPrimero1{
            margin: 0;
        }
    }
    main{
        .tabla{
            margin: 0;
        }
    }
    main{
        .secretos{
            margin: 10px;
        }
    }
    
}
@media (max-width: 767.98px){
    
}